@import url("style.css");

* {
  /* border: 1px solid black; */
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(45, 45, 45, 0.5);
  backdrop-filter: blur(5px);
  font-weight: var(--Raleway500);
  z-index: 1;
}

.icon__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vh;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2vh;
  font-family: "Roboto", sans-serif;
  margin-inline: 5vh;
  color: white;
}

.hamburger__container {
  display: none;
}

.logo__container {
  display: flex;
  align-items: center;
  gap: 1vh;
  cursor: pointer;
}

.logo__container > label {
  font-size: 3vh;
  font-weight: var(--Raleway700);
  cursor: pointer;
}

.open__nav {
  cursor: pointer;
  font-size: 3vh;
}

.lms__logo {
  cursor: pointer;
  font-size: 3vh;
}

.nav__container__wrapper {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5vh;
}

.nav__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.nav__link {
  text-decoration: none;
  color: black;
  transition: color 0.15s, text-decoration 0.15s, transform 0.15s;
  width: max-content;
  height: max-content;
  color: white;
}

.login__signup__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  position: relative;
}

.login__link__container {
  display: flex;
  flex-direction: row;
  gap: 5vh;
  background: hsl(243, 100%, 60%);
  padding: 1vh 1.5vh 1vh 1.5vh;
  border-radius: 0.5vh;
}

.login__link__container > a {
  text-decoration: none;
  color: white;
  transition: transform 0.15s, color 0.15s;
}

/* ============ HOVER CSS ============= */

.nav__link:hover {
  color: rgb(202, 214, 31);
  text-decoration: underline;
  transform: translateY(-1px);
  transform: scale(1.1);
}

.login__link__container > a:hover {
  color: rgb(202, 214, 31);
  transform: scale(1.1);
}

/* ============= RESPONSIVE DESIGN ============= */

@media screen and (max-width: 745px) {
  .hamburger__container {
    display: initial;
  }

  .nav__container {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, 30%);
    top: 50%;
    left: 50%;
    gap: 2vh;
    background: rgba(45, 45, 45, 0.5);
    backdrop-filter: blur(5px);
    padding: 3vh;
    max-width: 40vh;
    width: 35vh;
    border-radius: 1vh;
    border: none;
    z-index: 1;
  }
}
