@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&family=Raleway:wght@400;500;600;700&display=swap");

@import url("style.css");

* {
  /* border: 1px solid black; */
}

main {
  position: relative;
  height: 80vh;
}

.main__container {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border: 1px solid black;
  padding: 5vh;
  border-radius: 1vh;
  /* border: 1px solid black; */
  max-width: 45vh;
  width: 45vh;
  z-index: -1;
}

.second__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.login__container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.input__form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: var(--Raleway500);
}

.input__field {
  padding: 2vh;
  border: 1px solid black;
  border-radius: 0.5vh;
  max-width: 30vh;
  width: 30vh;
}

.remember__me__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5vh;
  gap: 5vh;
}

.checkbox__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vh;
}

.forgot__password {
  transition: color 0.15s, text-decoration 0.15s, transform 0.15s;
}

.login__button__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
  cursor: pointer;
  margin-top: 1.5vh;
}

.google__icon {
  font-size: 4vh;
}

.login__button {
  max-width: 15vh;
  width: 15vh;
  padding: 1.5vh;
  border-radius: 0.5vh;
  border: none;
  background: var(--Dark);
  color: white;
  cursor: pointer;
  font-family: var(--Raleway);
  transition: background 0.15s, box-shadow 0.15s, transform 0.15s;
}

.signup__redirect {
  text-decoration: none;
  transition: color 0.15s, text-decoration 0.15s, transform 0.15s;
  font-size: 2vh;
}

/* ============ HOVER CSS ============= */

.login__button:hover {
  background: var(--DarkGold);
  box-shadow: 0 0 10px 0 var(--DarkGold);
  transform: translateY(-1px);
}

.forgot__password:hover {
  color: rgb(202, 214, 31);
  text-decoration: underline;
  transform: translateY(-1px);
}

.signup__redirect:hover {
  color: rgb(202, 214, 31);
  text-decoration: underline;
  transform: translateY(-1px);
}

#username-error,
#password-error {
  display: none;
  color: red;
  font-size: 1.5vh;
}
