@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&family=Raleway:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Raleway);
}

:root {
  /* ====== COLORS ====== */
  --BrightBlue: rgb(50%, 150%, 300%);
  --DarkGold: #b67d43;
  --Gold: #ce9f56;
  --LightGold: rgb(202, 214%, 31%);
  --Dark: hsl(228, 16%, 12%);
  --darkerblue: hsl(243, 100%, 79%);

  /* ====== FONT ====== */
  --Raleway: "Raleway", sans-serif;
  --Josefin: "Josefin Sans", sans-serif;

  /* ====== FONT WEIGHT ====== */
  --Raleway400: 400;
  --Raleway700: 700;
  --Raleway500: 500;
  --Raleway600: 600;
}

body {
}
